a.navbar-brand News Aggregator

ul.nav.navbar-nav#header-navigation
  - var newsClass = active === 'news' ? 'all active' : 'all'
  - var bbcClass = active === 'bbc' ? 'bbc active' : 'bbc'
  - var skyClass = active === 'sky' ? 'sky active' : 'sky'
  li(class=newsClass)
    a(href='#news') All News
  li(class=bbcClass)
    a(href='#bbc') BBC News
  li(class=skyClass)
    a(href='#sky') SKY News
