doctype html
html
  head
    title News Aggregator
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(data-main="scripts/main", src="scripts/require.js")
  body
    .navbar.navbar-fixed-top.navbar-inverse#header
    .container#content
